# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=vou_falar_com_meu_socio

# CORS Configuration
CORS_ORIGIN=*
LITELLM_API_KEY=sk-litellm-dev

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT="vou-falar-com-meu-socio"